<article>

    <div class="title">
        <h1>About me</h1>
    </div>

    <div class="container" style="width: inherit;
                                                  padding-top: 20px">

        <div class="col-md-6">

            <img src="img/wall.jpg" style="width: 100%;">
            <div class="jumbotron">
                <h3>History</h3>
                <p>
                    I've started <code>programming</code> in 2012 when I got in to college at UFCG. In the same year I got my first job in the computer word and I had to learn more about <code>web development</code>, since then it became my favorite type of dev.</p>
                <!--<p> Between 2014 and 2015 I was in exchange program at SFSU, while I was there I had the opportunity of improve my english skills, learn more about the US, work in a startup and lots of cool technologies. In the end of 2015 I got back to Brazil to finish my graduation and here I am...

                            </p>-->

            </div>

        </div>

        <div class="col-md-6">

            <div class="jumbotron" id="jumb2">
                <p> Between 2014 and 2015 I was in exchange program at SFSU, while I was there I had the opportunity of improve my english skills, learn more about the US, work in a startup and lots of cool technologies. In the end of 2015 I got back to Brazil to finish my graduation, and here I am...</p>


                <button class="btn btn-default">Next</button>

            </div>


            <img src="img/wall2.jpg" style="width: 100%; padding-bottom: 20px;">
        </div>


    </div>






    <!--
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->


</article>