<!--<link href="/css/about.css" rel="stylesheet"> -->

<article>

    <div class="title">
        <h2>Contact me</h2>
    </div>

    <div class="custom-container">

        <div class="row">
            <div class="col-md-6 ">
                <div class="shadow">

                    <div class="custom-panel">
                        <img src="img/me.png" style="width: 100%;">

                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading"></div>
                    <div class="panel-body">

                        <div class="contact">
                            <ul>

                                <li>
                                    <div class="contact-info">
                                        <i class="fa fa-envelope-o fa-lg" aria-hidden="true"> </i>
                                        
                                        E-mail
                                    </div>

                                    sales.felipeb@gmail.com
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                                        Location
                                        
                                    </div>
                                    Campina Grande, PB, Brazil.
                                </li>
                                <li>
                                    <div class="contact-info">
                                        <i class="fa fa-skype fa-lg" aria-hidden="true"></i>
                                        Skype
                                    </div>
                                    felipe.b.sales
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>





    <!--
                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->


</article>