<!-- <link href="/css/experience.css" rel="stylesheet"> -->

<article>



    <div class="title">
        <h2>Experience</h2>
    </div>

    <div class="custom-container">


        <ul class="timeline">
            

            <li>
                <div class="tldate">Work</div>
            </li>


            <li class="timeline-inverted">
                <div class="tl-circ"></div>
                <div class="timeline-panel panel-align">
                    <div class="tl-heading">
                        <h4>Scholarship</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> 2012 - 2014</small></p>
                    </div>
                    <div class="tl-body">
                        <p>
                            <h5> Programa de Educação Tutorial (PET)</h5></p>

                        <p> - Programmer/Researcher </p>
                        <p> More info: <a href="http://www.dsc.ufcg.edu.br/~pet/">PET</a></p>
                        <p><img src="/img/pet.jpg" alt="PET"></p>
                    </div>
                </div>

            </li>

            <li class="timeline-inverted">
                <div class="tl-circ"></div>
                <div class="timeline-panel panel-align">
                    <div class="tl-heading">
                        <h4>Scholarship</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> 2015 - 2016</small></p>
                    </div>
                    <div class="tl-body">
                        <p>
                            <h5> Laboratório de Sistemas Distribuídos (LSD)</h5></p>

                        <p> - Programmer/Researcher </p>
                        <p> More info: <a href="https://www.lsd.ufcg.edu.br/#/">LSD</a></p>
                        <p><img src="/img/lsd.png" alt="LSD"></p>
                    </div>
                </div>

            </li>


            
            
            <li>
                <div class="tldate">Education</div>
            </li>

            <li class="timeline-inverted">
                <div class="tl-circ"></div>
                <div class="timeline-panel panel-align">
                    <div class="tl-heading">
                        <h4>High School</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> 2009 - 2011</small></p>
                    </div>
                    <div class="tl-body">
                        <p>
                            <h5> Colégio Imaculada Conceicão - Damas (CIC)</h5></p>
                        <p><img src="/img/damas.jpg" alt="CIC"></p>
                    </div>
                </div>

            </li>


            <li class="timeline-inverted">
                <div class="tl-circ"></div>
                <div class="timeline-panel panel-align">
                    <div class="tl-heading">
                        <h4>College</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> 2012 - Present</small></p>
                    </div>
                    <div class="tl-body">
                        <p>
                            <h5> Federal University of Campina Grande (UFCG)</h5></p>

                        <p> - BS Computer Science</p>
                        <p>
                            Course Rank:
                            <div class="gold-stars">
                                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                                <i class="fa fa-star fa-lg" aria-hidden="true"></i>
                            </div>
                        </p>
                        <p> - Score(GPA): 8.1/10.0</p>
                        <p><img src="/img/ufcg.jpg" alt="UFCG"></p>
                    </div>
                </div>

            </li>

            <li class="timeline-inverted">
                <div class="tl-circ"></div>
                <div class="timeline-panel panel-align">
                    <div class="tl-heading">
                        <h4>College - Exchange Program</h4>
                        <p><small class="text-muted"><i class="fa fa-clock-o" aria-hidden="true"></i> 2014 - 2015</small></p>
                    </div>
                    <div class="tl-body">
                        <p>
                            <h5> San Francisco State University (SFSU)</h5></p>

                        <p> - BS Computer Science </p>
                        <p> - Score(GPA): 3.46/4.0</p>
                        <p><img src="/img/sfsu.jpg" alt="SFSU"></p>
                    </div>
                </div>

            </li>


        </ul>

    </div>


</article>