<link href="/css/portfolio.css" rel="stylesheet">

<article>



    <div class="title">
        <h2>Workin on it...</h2>
    </div>

    <div class="custom-container">

        <div class="col-md-3">
            
            
            <div class='animed-content'>
                <div class='visible'>
                    <ul>
                        <li>world !</li>
                        <li>Bob !</li>
                        <li>users !</li>
                        <li>everybody !</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>


</article>