<!--<link href="/css/skills.css" rel="stylesheet"> -->

<article>



    <div class="title">
        <h2>Skills</h2>
    </div>

    <div class="custom-container">

        <div class="row">

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Frontend Development</div>
                    <div class="panel-body">
                        <div class="skills">
                            <ul>
                                <li>
                                    <div class="skill-title"> HTML5</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-custom" style="width: 80%"></div>
                                    </div>
                                </li>

                                <li>
                                    <div class="skill-title"> CSS</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-custom" style="width: 70%"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill-title"> LESS</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-custom" style="width: 58%"></div>
                                    </div>
                                </li>

                                <li>
                                    <div class="skill-title"> Twitter Bootstrap</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-custom" style="width: 80%"></div>
                                    </div>
                                </li>

                                <li>
                                    <div class="skill-title"> JavaScript</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-custom" style="width: 80%"></div>
                                    </div>
                                </li>

                                <li>
                                    <div class="skill-title"> Angular JS (v1.0)</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-custom" style="width: 70%"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Data Analysis</div>
                    <div class="panel-body">

                        <div class="skills">
                            <ul>

                                <li>
                                    <div class="skill-title"> R</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-custom" style="width: 45%"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill-title"> Shiny</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-custom" style="width: 30%"></div>
                                    </div>
                                </li>

                                <li>
                                    <div class="skill-title"> D3Js</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-custom" style="width: 30%"></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="skill-title"> RStudio</div>
                                    <div class="progress progress-striped active">
                                        <div class="progress-bar progress-bar-custom" style="width: 45%"></div>
                                    </div>
                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel-default">
                    <div class="panel-heading">Backend Development</div>
                    <div class="panel-body">
                        <div class="skills">
                            <ul>


                                <li class="skill-division">
                                    Programming Languages
                                </li>

                                <ul>
                                    <li>
                                        <div class="skill-title"> Java</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 75%"></div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="skill-title"> Python</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 70%"></div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="skill-title"> PHP</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 45%"></div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="skill-title"> C++</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 40%"></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="skill-title"> C</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 40%"></div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="skill-title"> Ruby</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 35%"></div>
                                        </div>
                                    </li>
                                </ul>

                                <li>
                                    <div class="skill-division"> Rest APIs </div>
                                </li>

                                <ul>
                                    <li>
                                        <div class="skill-title"> NodeJS</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 85%"></div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="skill-title"> Flask</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 65%"></div>
                                        </div>
                                    </li>


                                </ul>

                                <li>
                                    <div class="skill-division"> Data Bases </div>
                                </li>

                                <ul>


                                    <li>
                                        <div class="skill-title"> MongoDB</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 85%"></div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="skill-title"> MySQL</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 45%"></div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="skill-title"> Firebase</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 35%"></div>
                                        </div>
                                    </li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Other Technolagies</div>
                    <div class="panel-body">

                        <div class="skills">
                            <ul>


                                <li>
                                    <div class="skill-division"> Scripting Language </div>
                                </li>

                                <ul>

                                    <li>
                                        <div class="skill-title"> Shell Script</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 75%"></div>
                                        </div>
                                    </li>
                                </ul>

                                <li>
                                    <div class="skill-division"> Mobile Development </div>
                                </li>

                                <ul>

                                    <li>
                                        <div class="skill-title"> Ionic Framework</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 65%"></div>
                                        </div>
                                    </li>
                                </ul>

                                <li>
                                    <div class="skill-division"> Version control </div>
                                </li>

                                <ul class="skill-division-box">

                                    <li>
                                        <div class="skill-title"> Git</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 85%"></div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="skill-title"> SVN</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 45%"></div>
                                        </div>
                                    </li>
                                </ul>
                                
                                <!--

                                <li>
                                    <div class="skill-division"> Operating Systems </div>
                                </li>

                                <ul>


                                    <li>
                                        <div class="skill-title"> Mac OS</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 85%"></div>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="skill-title"> Linux</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 65%"></div>
                                        </div>
                                    </li>


                                    <li>
                                        <div class="skill-title"> Windows</div>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-custom" style="width: 45%"></div>
                                        </div>
                                    </li>


                                </ul> -->


                            </ul>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">Languages</div>
                    <div class="panel-body">

                        <div class="skills language">
                            <ul>

                                <li>
                                    <div class="skill-title"> Portuguese:</div>
                                    <p>
                                        <span class="label label-primary">Native</span>
                                        <i class="fa fa-headphones" aria-hidden="true"></i>
                                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>

                                    </p>

                                </li>
                                <li>
                                    <div class="skill-title"> English:</div>
                                    <p>
                                        <span class="label label-primary-2">Fluent</span>


                                        <i class="fa fa-headphones" aria-hidden="true"></i>
                                        <i class="fa fa-volume-up" aria-hidden="true"></i>
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </p>

                                </li>
                                <li>
                                    <div class="skill-title"> French:</div>
                                    <p>
                                        <span class="label label-default">Basic</span>
                                        <i class="fa fa-headphones" aria-hidden="true"></i>
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                    </p>
                                </li>
                                <li>
                                    <div class="skill-title"> Spanish:</div>
                                    <p>
                                        <span class="label label-default">Basic</span>

                                        <i class="fa fa-headphones" aria-hidden="true"></i>
                                        <i class="fa fa-file-text-o" aria-hidden="true"></i>
                                    </p>

                                </li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</article>